<div class="row">
  <!-- <div class="col-md-12">
    <a mat-button mat-flat-button color="primary" *ngIf="isLoggedIn" [routerLink]="['/create']" class="float-right">Create</a>
  </div> -->
  <div class="col-md-12">
    <div fxLayout="row" fxLayout.xs="column" fxFlex.md="100" fxLayoutWrap class="card-deck-container mat-elevation-z4">
      <div fxFlex="20%" *ngFor="let product of productsDisplayed" class="card-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="mat-card-title">{{product.title}}</mat-card-title>
          </mat-card-header>

          <img class="md-card-image"  mat-card-image src="{{imgUrl}}{{product.book_image}}"  height="200px" width="200px">

          <mat-card-content>
            <div class="card-text-content">
              {{product.description | truncate : 200 : true }}
            </div>
          </mat-card-content>

          <mat-card-actions fxLayout="row" fxLayoutAlign="end center" class="row action-btn">
            <button mat-button mat-flat-button color="primary" (click)="addProductToCart()">LIKE</button>
            <!-- <button mat-button (click)="openDialog()">Share</button> -->
          </mat-card-actions>

        </mat-card>
      </div>

      <!-- <div class="paginator mat-elevation-z4" *ngIf="productsDisplayed.length !== 0">
        <mat-paginator
          [length]="paginatorSize"
          [pageSize]="numberOfProductsDisplayedInPage"
          [pageSizeOptions]="[12, 24]"
          (page)="updateProductsDisplayedInPage($event)">
        </mat-paginator>
      </div> -->
    </div>
  </div>  
</div>